tumor-segmentation/models/*.pth filter=lfs diff=lfs merge=lfs -text
received_images/*.png filter=lfs diff=lfs merge=lfs -text
tumor-segmentation/models/checkpoints/*.pth filter=lfs diff=lfs merge=lfs -text
